.hero {
    h2 {
        .title_outline {
            color: theme('colors.second.blue'); // #1F4165
            text-shadow:
                2px 0 0 theme('colors.second.blue'),
                -2px 0 0 theme('colors.second.blue'),
                0 2px 0 theme('colors.second.blue'),
                0 -2px 0 theme('colors.second.blue');
        }

        .title_gradient {
            // @apply text-wedding-gradient;

            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
            mask-image: linear-gradient(#fff 0 0);
            display: inline-block;
        }

    }

    .star {
        animation:
            slide-in 1.2s ease-out forwards,
            twinkle 5s infinite ease-in-out;
        opacity: 0.6;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 30%;
        z-index: -1;
        background: linear-gradient(180deg, rgba(11, 21, 33, 0) 0%, #1a1c28 100%);
    }
}

/* Въезд справа */
@keyframes slide-in {
    0% {
        transform: translateX(80px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes twinkle {
    0% {
        opacity: 0.2;
        // transform: scale(0.9);
    }

    50% {
        opacity: 1;
        // transform: scale(1.1);
    }

    100% {
        opacity: 0.2;
        // transform: scale(0.9);
    }
}